{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}

{% block title %} Expedientes Creados {% endblock %}
{% block pantalla %} Resumen de Expedientes Creados  {% endblock %}
{% block descripcion %} {% endblock %}

{% block content %}
    <div class="container">
        <h3 class="center-align">Ingresos por Consultas</h3>

        {% include "elements/parametros.html" %}

        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        {% if fecha_inicial and fecha_final %}
                            Fecha de emisión: {{ hoy }}
                            <span class="card-title"><b>Resumen de Ingresos por Consultas del {{ fecha_inicial }}
                        al {{ fecha_final }}</b></span>

                            <div id="tabla2" class="row">
                                <div class="col s10 push-s1">
                                    <table class="highlight responsive-table">
                                        <thead>
                                        <tr>
                                            <th><b>Tratamiento</b></th>
                                            <th>Costo en materiales/procedimientos ($)</th>
                                            <th>Total pagado ($)</th>
                                            <th>Cantidad de veces que se realizó tratamiento</th>
                                            <th>Ganancia</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        {% for tratamiento in tratamientos%}
                                            <tr>
                                                <td><b>{{ tratamiento.nombre }}</b></td>
                                                <td>{{ tratamiento.costo|stringformat:'0.2f'|intcomma }}</td>
                                            <td>{{ tratamiento.total|stringformat:'0.2f'|intcomma }}</td>
                                            <td>{{ tratamiento.cantidad|stringformat:'0.2f'|intcomma }}</td>
                                            <td>{{ tratamiento.ganancia|stringformat:'0.2f'|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div><br>

                            <div id="tabla3" class="row">
                                <div class="col s10 push-s1">
                                    <table class="highlight responsive-table centered">
                                        <thead>
                                        <tr>
                                            <th>Costo en materiales/procedimientos ($)</th>
                                            <th>Total pagado ($)</th>
                                            <th>Ganancia total ($)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ costo_total|stringformat:'0.2f'|intcomma}}</td>
                                            <td>{{ total_pagado|stringformat:'0.2f'|intcomma }}</td>
                                            <td>{{ ganancia_total|stringformat:'0.2f'|intcomma }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div><br>

                            <div id="botones" class="row">
                                <div class="col s12 m6 push-m1">
                                    <a class="waves-effect waves-light btn">Exportar</a>
                                </div>

                                <div class="col s12 m6 push-m1">
                                    <a class=" waves-light btn">Generar PDF</a>
                                    <a class=" waves-light btn" class=" waves-light btn"
                                       onclick="printJS('printJS-form', 'html')">Imprimir</a>
                                    <a class=" waves-light btn">Ayuda</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col s12"><br>
                                    <h4 style="text-align: center">¡No se ha seleccionado un período para su
                                        resumen!</h4>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
