{% extends 'base.html' %}
{% load static %}

{% block title %} Demanda y Costo de Medicamentos {% endblock %}
{% block pantalla %} Resumen de Demanda y Costo en Medicamentos  {% endblock %}
{% block descripcion %} {% endblock %}

{% block content %}
    <div class="container">
        <h3 class="center-align">Demanda y Costo de Medicamentos</h3>
        <!--<b>Frecuencia de uso:</b> {{ prueba }}<br><br> -->

            {% include "elements/parametros.html" %}

            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            {% if fecha_inicial and fecha_final %}
                            Fecha de emisión: {{ hoy }}
                                <span class="card-title"><b>Resumen de Demanda y Costo de Medicamentos del {{ fecha_inicial }} al
                                    {{ fecha_final }}</b></span>

                                <div id="tabla1" class="row">
                                    <div class="col s10 push-s1"><br>
                                        {% if resumen %}
                                        <table class="highlight responsive-table centered">
                                            <thead>
                                                <tr>
                                                    <th>Veces Recetado</th>
                                                    <th>Medicamentos Más Demandados</th>
                                                    <th>Marca</th>
                                                    <th>Monto Unitario ($)</th>
                                                    <th>Cantidad Comprada en Lotes</th>
                                                    <th>Cantidad Actual en Stock</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                    {% for masdemandado in resumen %}
                                                    <tr>
                                                        <td>{{ masdemandado.n }}</td>
                                                        <td>{{ masdemandado.nombre }}</td>
                                                        <td>{{ masdemandado.marca }}</td>
                                                        <td>{{ masdemandado.monto }}</td>
                                                        <td>{{ masdemandado.cantidadLotes }}</td>
                                                        <td>{{ masdemandado.cantidadStock }}</td>
                                                    </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                        <br>
                                        {% else %}
                                        <table class="highlight responsive-table centered">
                                            <thead>
                                                <tr>
                                                    <th>Veces Recetado</th>
                                                    <th>Medicamentos Más Demandados</th>
                                                    <th>Marca</th>
                                                    <th>Monto Unitario ($)</th>
                                                    <th>Cantidad Comprada en Lotes</th>
                                                    <th>Cantidad Actual en Stock</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="col">
                                                    <td colspan="6"><h5>No se encontraron demandas de medicamentos</h5></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        {% endif %}
                                    </div>
                                </div>

                                <div id="tabla2" class="row">
                                    <div class="col s10 push-s1">
                                        <table class="highlight responsive-table centered">
                                            <thead>
                                            <tr>
                                                <th>Total Gastado en Obtencion de Medicamento ($)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ total_gasto_med }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div id="botones" class="row">
                                    <div class="col s12 m6 push-m1">
                                        <a class="waves-effect waves-light btn">Exportar</a>
                                    </div>

                                    <div class="col s12 m6 push-m1">
                                        <a class=" waves-light btn">Generar PDF</a>
                                        <a class=" waves-light btn" class=" waves-light btn" onclick="printJS('printJS-form', 'html')">Imprimir</a>
                                        <a class=" waves-light btn">Ayuda</a>
                                    </div>
                                </div>

                            </div>
                            {% else %}
                                <div class="row">
                                    <div class="col s12"><br>
                                        <h4 style="text-align: center">¡No se ha seleccionado un período para su resumen!</h4>
                                    </div>
                                </div>
                            {% endif %}

                            <script>
                                   var boton_enviar = document.getElementById('boton_enviar').onclick="location.href='{% url 'gerencial:resumen_costomed' %}'"
                            </script>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}
