{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Resumen de Vencimiendo de Medicamentos  {% endblock %}
{% block pantalla %} Resumen de Vencimiendo de Medicamentos {% endblock %}
{% block descripcion %} {% endblock %}

{% block content %}
<div class="container">
    <h3 class="center-align">Resumen de Vencimiento de Medicamentos</h3>
    <!--<b>Frecuencia de uso:</b> {{ prueba }}<br><br> -->

    {% include "elements/parametros.html" %}

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    {% if fecha_inicial and fecha_final %}
                    Fecha de emisión: {{ hoy }}
                    <span class="card-title"><b>Resumen Vencimiento de Medicamentos en el período de {{ fecha_inicial }} al
                            {{ fecha_final }}</b></span>

                    <div id="tabla1" class="row">
                        <div class="col s10 push-s1"><br>
                            {% if tabla1 %}
                            <table class="highlight responsive-table centered">
                                <thead>
                                    <tr>
                                        <th>Nombre Medicamento</th>
                                        <th>Marca</th>
                                        <th>Forma Farmaceutica</th>
                                        <th>Precio Unitario</th>
                                        <th>Cantidad Actual en Inventario</th>
                                        <th>Cantidad Vence en Próximos 30 Días</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for tabla in tabla1 %}
                                    <tr>
                                        <td>{{ tabla.nombre_producto }}</td>
                                        <td>{{ tabla.marca_producto }}</td>
                                        <td>{{ tabla.formafarmaceutica }}</td>
                                        <td>{{ tabla.precio_producto }}</td>
                                        <td>{{ tabla.existencia_producto }}</td>
                                        <td>En construcción</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            {% else %}
                            <table class="highlight responsive-table centered">
                                <thead>
                                    <tr>
                                        <th>Nombre Medicamento</th>
                                        <th>Marca</th>
                                        <th>Forma Farmaceutica</th>
                                        <th>Precio Unitario</th>
                                        <th>Cantidad Actual en Inventario</th>
                                        <th>Cantidad Vence en Próximos 30 Días</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="col">
                                        <td colspan="6">
                                            <h5>No se encontraron datos que cumplan los parametros</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br>
                            {% endif %}
                        </div>
                    </div>

                    <div id="botones" class="row">
                        <div class="col s12 m6 push-m1">
                            <a class="waves-effect waves-light btn">Exportar</a>
                        </div>

                        <div class="col s12 m6 push-m1">
                            <a class=" waves-light btn">Generar PDF</a>
                            <a class=" waves-light btn" class=" waves-light btn"
                                onclick="printJS('printJS-form', 'html')">Imprimir</a>
                            <a class=" waves-light btn">Ayuda</a>
                        </div>
                    </div>

                </div>
                {% else %}
                <div class="row">
                    <div class="col s12"><br>
                        <h4 style="text-align: center">¡No se ha seleccionado un período para su resumen!</h4>
                    </div>
                </div>
                {% endif %}

                <script>
                    var boton_enviar = document.getElementById('boton_enviar').onclick = "location.href='{% url 'gerencial:resumen_vencimiento' %}'"
                </script>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block navbar %}
    <ul class="left hide-on-med-and-down">
        <li >
            <a href="/">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'cuenta' %}">Personalizar Perfil</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
        </li>
    </ul>
{% endblock %}