{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} Demanda y Costo de Medicamentos {% endblock %}
{% block pantalla %} Resumen de Demanda y Costo en Medicamentos  {% endblock %}
{% block descripcion %} {% endblock %}

{% block content %}
    <div class="container">
        <h3 class="center-align">Demanda y Costo de Medicamentos</h3>
        <!--<b>Frecuencia de uso:</b> {{ prueba }}<br><br> -->

        {% include "elements/parametros.html" %}

        <div class="row">
            <div id="admin" class="col s12">
                <div class="card material-table">
                    <div class="card-content">
                        {% if fecha_inicial and fecha_final %}
                            <div id="render">
                                Fecha de emisión: {{ hoy }}
                                <div class="table-header">
                    <span class="table-title"><b>Resumen de Demanda y Costo de Medicamentos del {{ fecha_inicial }} al
                        {{ fecha_final }}</b></span>
                                    <div class="actions">
                                        <a onclick="return false;" href="#"
                                           class="search-toggle waves-effect btn-flat nopadding"><i
                                                class="material-icons">search</i></a>
                                    </div>
                                </div>

                                <table id="datatable" class="highlight responsive-table centered">
                                    <thead>
                                    <tr>
                                        <th>Veces Recetado</th>
                                        <th>Medicamentos</th>
                                        <th>Marca</th>
                                        <th>Monto Unitario ($)</th>
                                        <th>Cantidad <br> Comprada <br> en Lotes</th>
                                        <th>Cantidad <br> en Stock</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for masdemandado in resumen %}
                                        <tr>
                                            <td>{{ masdemandado.n }}</td>
                                            <td>{{ masdemandado.nombre }}</td>
                                            <td>{{ masdemandado.marca }}</td>
                                            <td>{{ masdemandado.monto }}</td>
                                            <td>{{ masdemandado.cantidadLotes }}</td>
                                            <td>{{ masdemandado.cantidadStock }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div id="tabla2" class="row">
                                    <div class="col s10 push-s1">
                                        <table class="highlight responsive-table centered">
                                            <thead>
                                            <tr>
                                                <th>Total Gastado en Obtencion de Medicamento ($)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ total_gasto_med }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div id="botones" class="row">
                                <div class="col s12 m6 push-m1">
                                    <a class="waves-effect waves-light btn">Exportar</a>
                                </div>

                                <div class="col s12 m6 push-m1">
                                    <a class=" waves-light btn">Generar PDF</a>
                                    <a class=" waves-light btn" class=" waves-light btn"
                                       onclick="print1(1)">Imprimir</a>
                                    <a class=" waves-light btn">Ayuda</a>
                                </div>
                            </div>
                            <br>
                        {% else %}
                            <div class="row">
                                <div class="col s12"><br>
                                    <h4 style="text-align: center">¡No se ha seleccionado un período para su
                                        resumen!</h4>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block navbar %}
    <ul class="left hide-on-med-and-down">
        <li>
            <a href="/">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'cuenta' %}">Personalizar Perfil</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
        </li>
    </ul>
{% endblock %}