{% extends 'base2.html' %}

{% block extrahead %}
<style type="text/css">
  @media only screen and (min-width : 601px) {
      #id_card_type_container {
          margin-top: 40px;
          margin-left: 50px;
      }
}
</style>
{% endblock %}

{% block content %}
<div class="row valign change-form">
    <div class="{% block formclass %}{% endblock %}">
        <div class="card">
            <dmc-form><form method="POST" enctype="multipart/form-data">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-2">{% block formtitle %}Form{% endblock %}</span>
                    {% csrf_token %}
                <p>{% block text%} {% endblock %}</p>
                    {% block formbody %}{% endblock %}
                </div>
            </form></dmc-form>
        </div>
    </div>
</div>
{% block result %}
{% endblock %}
{% endblock %}
