{% load i18n static staticfiles %}

{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        {% block turbolinks-cache-control %}
            <meta name="turbolinks-cache-control" content="no-cache">{% endblock %}
        <title>SIG Clinica Manguito - {% block title %}{% endblock %}</title>
        {% block favicon %}
            <link href="{% static 'material/imgs/favicon.png' %}" rel="shortcut icon">{% endblock %}

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        {% block css %}{% include 'material/frontend/includes/material_css.html' %}{% endblock css %}
        {% block js %}{% include 'material/frontend/includes/material_js.html' %}{% endblock js %}
        {% block extrahead %}{% endblock %}
    {% endblock head %}
</head>

<body class="grey lighten-4">
<nav class="blue darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo right">SIG-Manguito</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large left"><i class="material-icons">menu</i></a>
            {% block navbar %}

            {% endblock %}
        </div>
    </div>
</nav>
{%  include 'elements/sidebar.html' %}

{% block content %}
{%  endblock content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<script src="{% static 'gerencial/js/sidenav.js' %}"></script>
</body>
</html>