{% extends "material/frontend/base_lockscreen.html" %}
{% load material_form %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    SIG Clinica Manguito - {% trans 'Log in' %}
{% endblock %}

{% block page_title %}{% trans 'Reset Password' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="input-field form-group">
    <p>
        Le hemos enviado a su correo electrónico las instrucciones para configurar su contraseña. </br>

        Si usted no recibe el email, por favor asegúrese de haber ingresado la dirección de correo eléctrónico con la cual está registrado, y revise en la carpeta de correos spam.
    </p>
    </div>
</div>
{% endblock %}

{% block icon %}account_circle{% endblock %}


{% block messages %}
    {% for message in messages %}
    {% if message %}
    <script type="text/javascript">
        (function () { M.toast({html: '{{ message }}', classes: 'rounded {% if message.tags == 'warning' %} yellow {% elif message.tags == 'error' %} red {% else %} {% endif %}', displayLength: 6000}); })();
    </script>
    {% endif %}
    {% endfor %}
{% endblock messages %}

