{% extends "material/frontend/base_lockscreen.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load material_form %}
{% block title %}
    SIG Clinica Manguito - {% trans 'Reset Password' %}
{% endblock %}

{% block page_title %}{% trans 'Reset' %}{% endblock %}

{% block content %}
<div class="row valign change-form">
    <div class="{% block formclass %}col s12 {% endblock %}">
        <div class="card">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-content">
                    <div class="card-title">Restaurar Contraseña</div>
                    {% block form %}
                    {% if view.layout or form.layout%}
                    {% if view.layout %}
                    {% form layout=view.layout %}{% endform %}
                    {% endif %}
                    {% if form.layout %}
                    {% form layout=form.layout %}{% endform %}
                    {% endif %}
                    {% else %}
                    {% form %}{% endform %}
                    {% for name, formset in formsets.items %}
                    <table>
                        {{ formset.as_table }}
                    </table>
                    {% endfor %}
                    {% endif %}
                    {% endblock %}
                </div>
                <div class="card-action">
                    <div class="right-align">
                        {% block submit_row %}
                        <button type="submit" class="waves-effect waves-light btn white-text">{% trans 'Send' %}</button>
                        {% endblock %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block icon %}account_circle{% endblock %}


{% block messages %}
    {% for message in messages %}
    {% if message %}
    <script type="text/javascript">
        (function () { M.toast({html: '{{ message }}', classes: 'rounded {% if message.tags == 'warning' %} yellow {% elif message.tags == 'error' %} red {% else %} {% endif %}', displayLength: 6000}); })();
    </script>
    {% endif %}
    {% endfor %}
{% endblock messages %}