{% extends "material/frontend/base_lockscreen.html" %}
{% load material_form %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    SIG Clinica Manguito - {% trans 'Log in' %}
{% endblock %}

{% block page_title %}{% trans 'Log in' %}{% endblock %}

{% block content %}
    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
            <a class="waves-effect waves-light btn" href="{% url 'login' %}">{% trans 'Log in' %}</a>

{% endblock %}

{% block icon %}account_circle{% endblock %}


{% block messages %}
    {% for message in messages %}
    {% if message %}
    <script type="text/javascript">
        (function () { M.toast({html: '{{ message }}', classes: 'rounded {% if message.tags == 'warning' %} yellow {% elif message.tags == 'error' %} red {% else %} {% endif %}', displayLength: 6000}); })();
    </script>
    {% endif %}
    {% endfor %}
{% endblock messages %}
