{% extends "material/frontend/base_lockscreen.html" %}
{% load static %}
{% load staticfiles %}
{% load i18n %}
{% load material_form %}
{% block title %}
    SIG Clinica Manguito - {% trans 'Reset Password' %}
{% endblock %}

{% block page_title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
    <div class="wrap-input100 validate-input" data-validate="Se requiere nombre de usuario">
            <div class="input-field col s7 form-group">
                 {{ form.new_password1.errors }}
        <label for="id_new_password1">{% trans 'New password:' %}</label>
        {{ form.new_password1 }}
            </div>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Se requiere nombre de usuario">
            <div class="input-field col s7 form-group">
        <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
        {{ form.new_password2 }}
            </div>
        </div>
    <div class="action right-align">
            <button type="submit" name="action" class="btn btn-primary waves-effect waves-light">{% trans 'Change my password' %}</button>
        </div>
</form>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{%endblock%}

{% block icon %}account_circle{% endblock %}


{% block messages %}
    {% for error in form.new_password2.errors %}
    <script type="text/javascript">
        (function () { M.toast({html: '{{ error}}', classes: 'rounded  red', displayLength: 6000}); })();
    </script>
    {% endfor %}
    {% for error in form.new_password1.errors %}
    <script type="text/javascript">
        (function () { M.toast({html: '{{ error}}', classes: 'rounded  red', displayLength: 6000}); })();
    </script>
    {% endfor %}

                {{ form.new_password2.errors }}

                {{ form.new_password1.errors }}
{% endblock messages %}
