{% autoescape off %}
Buen día {{ user.first_name }} {{ user.last_name }}, para completar el registro de su usuario es necesario que especifique la contraseña con la cual accederá al Sistema de Información Gerencial de la Clinica Dental El Manguito.

Por favor, vaya a la página siguiente y escoja una nueva contraseña:

{% block reset_link %}
{{ request.scheme }}://{{ request.get_host }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
Su nombre de usuario, con el que iniciará sesión:{{ user.get_username }}

En caso que usted no haya solicitado un usuario en el Sistema de Información Gerencial de la Clinica Dental El Manguito ignore este email.

{% endautoescape %}