{% extends "base_site1.html" %}
{% load i18n material_form %}

{% block title %}{% trans 'Log in' %} - {{ block.super }}{% endblock %}

{% block content %}

    <div class="row valign">
    <div class="col s12 m8 offset-m2 l8 offset-l2">
        <div class="card">
            <div class="card-content">
                <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    {% if 'username' in form.fields %}
        {% form %}
            {% part form.username prefix %}<i class="material-icons prefix">account_box</i>{% endpart %}
            {% part form.password prefix %}<i class="material-icons prefix">lock</i>{% endpart %}
        {% endform %}
    {% else %}
        {% form %}{% endform %}
    {% endif %}
    <div class="action right-align">
        <button type="submit" class="btn btn-primary">{% trans 'Enviar' %}</button>
    </div>
</form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block icon %}account_circle{% endblock %}
